* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.input-box {
    margin-bottom: 18px;
}

.input-box label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #444;
}

.input-box input {
    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 15px;
    outline: none;
}

.input-box input:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    background: #007bff;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.message {
    text-align: center;
    color: red;
    margin-bottom: 15px;
}


.password-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.password-box input {
    flex: 1;
}

.password-box button {
    padding: 10px 12px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.password-box button:hover {
    background: #555;
}

.password-box {
    position: relative;
    width: 100%;
}

.password-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 45px 12px 12px;
}

.eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: #777;
}

.eye-icon i {
    font-size: 16px;
}

.eye-icon:hover {
    color: #000;
}